<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>WelcomeUser</servlet-name>
  	<display-name>WelcomeUser</display-name>
  	<description></description>
  	<servlet-class>com.wst.servlet.WelcomeUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>userdetailsquery</servlet-name>
  	<display-name>userdetailsquery</display-name>
  	<description></description>
  	<servlet-class>com.wst.servlet.userdetailsquery</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>userdetails</servlet-name>
  	<display-name>userdetails</display-name>
  	<description></description>
  	<servlet-class>com.wst.servlet.userdetails</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>userdetailquote</servlet-name>
  	<display-name>userdetailquote</display-name>
  	<description></description>
  	<servlet-class>com.wst.servlet.userdetailquote</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>userdetailquickquote</servlet-name>
  	<display-name>userdetailquickquote</display-name>
  	<description></description>
  	<servlet-class>com.wst.servlet.userdetailquickquote</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>QuickQuote</servlet-name>
  	<display-name>QuickQuote</display-name>
  	<description></description>
  	<servlet-class>com.wst.servlet.QuickQuote</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Query</servlet-name>
  	<display-name>Query</display-name>
  	<description></description>
  	<servlet-class>com.wst.servlet.Query</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OnlineQuote</servlet-name>
  	<display-name>OnlineQuote</display-name>
  	<description></description>
  	<servlet-class>com.wst.servlet.OnlineQuote</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>onlineQuotationListItem</servlet-name>
  	<display-name>onlineQuotationListItem</display-name>
  	<description></description>
  	<servlet-class>com.wst.servlet.onlineQuotationListItem</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginUser2</servlet-name>
  	<display-name>LoginUser2</display-name>
  	<description></description>
  	<servlet-class>com.wst.servlet.LoginUser2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginUser</servlet-name>
  	<display-name>LoginUser</display-name>
  	<description></description>
  	<servlet-class>com.wst.servlet.LoginUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>logincheck</servlet-name>
  	<display-name>logincheck</display-name>
  	<description></description>
  	<servlet-class>com.wst.servlet.logincheck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deletequickquote</servlet-name>
  	<display-name>deletequickquote</display-name>
  	<description></description>
  	<servlet-class>com.wst.servlet.deletequickquote</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deletequery</servlet-name>
  	<display-name>deletequery</display-name>
  	<description></description>
  	<servlet-class>com.wst.servlet.deletequery</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteonline</servlet-name>
  	<display-name>deleteonline</display-name>
  	<description></description>
  	<servlet-class>com.wst.servlet.deleteonline</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteloginuser</servlet-name>
  	<display-name>deleteloginuser</display-name>
  	<description></description>
  	<servlet-class>com.wst.servlet.deleteloginuser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>allusersquery</servlet-name>
  	<display-name>allusersquery</display-name>
  	<description></description>
  	<servlet-class>com.wst.servlet.allusersquery</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>allusersonlinequote</servlet-name>
  	<display-name>allusersonlinequote</display-name>
  	<description></description>
  	<servlet-class>com.wst.servlet.allusersonlinequote</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>allusers</servlet-name>
  	<display-name>allusers</display-name>
  	<description></description>
  	<servlet-class>com.wst.servlet.allusers</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Alluserquickquote</servlet-name>
  	<display-name>Alluserquickquote</display-name>
  	<description></description>
  	<servlet-class>com.wst.servlet.Alluserquickquote</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>WelcomeUser</servlet-name>
  	<url-pattern>/WelcomeUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>userdetailsquery</servlet-name>
  	<url-pattern>/userdetailsquery</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>userdetails</servlet-name>
  	<url-pattern>/userdetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>userdetailquote</servlet-name>
  	<url-pattern>/userdetailquote</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>userdetailquickquote</servlet-name>
  	<url-pattern>/userdetailquickquote</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>QuickQuote</servlet-name>
  	<url-pattern>/QuickQuote</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Query</servlet-name>
  	<url-pattern>/Query</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OnlineQuote</servlet-name>
  	<url-pattern>/OnlineQuote</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>onlineQuotationListItem</servlet-name>
  	<url-pattern>/onlineQuotationListItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginUser2</servlet-name>
  	<url-pattern>/LoginUser2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginUser</servlet-name>
  	<url-pattern>/LoginUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>logincheck</servlet-name>
  	<url-pattern>/logincheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deletequickquote</servlet-name>
  	<url-pattern>/deletequickquote</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deletequery</servlet-name>
  	<url-pattern>/deletequery</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteonline</servlet-name>
  	<url-pattern>/deleteonline</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteloginuser</servlet-name>
  	<url-pattern>/deleteloginuser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>allusersquery</servlet-name>
  	<url-pattern>/allusersquery</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>allusersonlinequote</servlet-name>
  	<url-pattern>/allusersonlinequote</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>allusers</servlet-name>
  	<url-pattern>/allusers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Alluserquickquote</servlet-name>
  	<url-pattern>/Alluserquickquote</url-pattern>
  </servlet-mapping>
</web-app>
